.navbar-brand{
    font-family: 'Knewave', cursive;
    color: white;
}
#background{
    height: 100%;
    width: 100%;
    position: fixed;
}
h1{
    font-family: 'Knewave', cursive;
    font-size: 60px;
    text-align: center;
    margin-top: 65px;
    color: black;
}
#questionbox{
    height:600px;
    width: 250px;
    background-color: #f0f8ff8a;
    margin-top: 10px;
}
#timer{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
}
.answerImage{
    width:300px;
    height: 300px;
    margin-left: 350px;
}
#start{
    margin-top: 250px;
    margin-left: 500px;
    font-size: 40px;
}
#questions{
    font-family:  'Nanum Pen Script', cursive;
    font-size: 60px;
  margin-left: 10%;
    margin-top: 20px;
}
h4{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 50px;
 margin-left: 40%;
}
#start {
    height: 70px;
    width: 160px;
    border-radius: 100%;
    background-color: black;
    color: white;
}
#start:hover {
background-color: grey;
}